<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/products//nuevo-producto">
        {{ form.csrf_token }}
        {{ form.nameProduct.label }} {{ form.nameProduct(size=20) }} <br>
        {{ form.price.label }} {{ form.price(size=20) }} <br>
        {{ form.genre.label }} {{ form.genre(size=20) }} <br>
        {{ form.image.label }} {{ form.image(size=20) }} <br>
        <input type="submit" value="Registrar Producto">
    </form>
</body>

</html>