<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(OLD)Registro producto</title>
</head>
<body>
    <form action="" method="post">
        
        <label for="name" > Name: </label>
        <input type="text" id="name" name="name">
        <br>

        <label for="name" > Genre: </label>
        <input type="text" id="genre" name="price">
        <br>

        <label for="name" > Image: </label>
        <input type="text" id="image" name="name">
        <br>

        <label for="name" > Name: </label>
        <input type="text" id="name" name="name">
        <br>

        <input type="submit" id="send_genre" name="send_genre" value="Registrar Producto">
    </form>
</body>
</html>