<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_info.artist.name</title>
    <link rel="icon" type="image" href="../static/img/musicalbox.png" width="40px" heigth="40px" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/artists-style.css') }}" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="background">



    <div class="container mt-2">
        {% include 'navbar.html' %}
    </div>


    <br><br>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <center><label id="tituloPaginas"> {{my_info.artist.name}}</label></center>

                </div>
                <div class="col-md-4">
                    <h2 id="descArtista"> {{my_info.artist.description}} </h2>
                </div>

                <div class="col-md-4">

                </div>
            </div>

        </div>
        <div>
            <h2 id="tituloArtistaPage">Releases</h2>
            <br>
            <div class="row">




                {%for release in my_info.releases %}
                <div class="col-lg-3" style="margin: 1px; ">

                    <div>
                        <center> <img src="{{release.imagen}}" width="200" height="200"> </center>
                    </div>
                    <div>
                        <center>
                            <h5> {{release.name}}</h5>
                        </center>
                    </div>


                </div>


                {%endfor%}
            </div>

            <div>
                <H2 id="tituloArtistaPage"> Relacionado </H2>
            </div>

        </div>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>