.background{
    background-color: var(--skyblue);
}

.card-body{
    background-color: var(--skyblue);
}

.h1{
    color: var(--yellow);
}

.row{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container{
    background-color: var(--intenseskyblue);
}

